<div class="header container-fluid ">
    <div class="container">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container">
                <!-- Logo (adjust the image path accordingly) -->
                <a class="navbar-brand" href="#"><img src="assets/images/header/logo.svg" alt="Logo"></a>

                <!-- Collapse button for mobile -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu options -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <div class="vertical-line nav-link"></div>
                        </li>
                    </ul>

                    <div class="d-flex mr-auto">

                        <div class="dark-mode">
                            <button *ngIf="isDarkMode" class="btn dark-mode-btn" (click)="toggleMode()"><img
                                    src="assets/images/header/dark-icon.svg" alt=""></button>
                            <button *ngIf="!isDarkMode" class="btn dark-mode-btn" (click)="toggleMode()"><img
                                    src="assets/images/header/light-icon.svg" alt=""></button>
                        </div>
                        <div class="download-cv">
                            <button class=" btn download-cv-btn"> Download CV</button>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>