<div class="hero  container-fluid">
    <div class="container">
        <div class="row">
            <div class="bio col-8">
                <div class="">
                    <h1 class="name">Hi, I’m Hidayat 👋</h1>
                    <p class="bio-text">I'm a full stack developer (React.js & Node.js) with a focus on creating (and
                        occasionally designing)
                        exceptional digital experiences that are fast, accessible, visually appealing, and responsive.
                        Even
                        though I have been creating web applications for over 7 years, I still love it as if it was
                        something new.</p>

                </div>
                <div class="address">
                    <p class="personal-address"><img src="assets/images/hero/location.svg" alt=""> Kashmir,Srinagar</p>
                    <div class="d-flex availability">
                        <div class="dot"></div>
                        <span class="status">

                            Available for new projects
                        </span>
                    </div>
                </div>
                <div class="social-icons mt-5 d-flex gap-3">
                    <div class="icon">
                        <img src="assets/images/hero/github.svg" alt="">
                    </div>
                    <div class="icon">
                        <img src="assets/images/hero/github.svg" alt="">
                    </div>
                    <div class="icon">
                        <img src="assets/images/hero/github.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="photo col-4">
                <div class="img"> <img src='assets/images/hero/hidayat.jpg' alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>
</div>