.latest-blogs {
  background-color: var(--gray-50);
  padding-bottom: 8vw;
}

.latest-btn {
  border-radius: 12px;
  background: var(--button-color);
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  color: var(--gray-600);
  font-family: Inter;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  position: relative;
  display: inline-block;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.latest-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    transparent 30%,
    rgba(255, 255, 255, 0.8) 70%,
    transparent 100%
  );
  animation: waveAnimation 2s linear infinite;
}

@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 992px) {
  .skills .btn {
    font-size: 3.5vw;
  }
}
