/* example.component.css */
.skills{
  background-color: var(--gray-50);
  padding-bottom: 8vw;
}
.skills-btn {
  border-radius: 12px;
  background: var(--button-color);
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  color: var(--gray-600);
  font-family: Inter;
  font-size: 1.3vw; 
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.skill-desc {
  color: var(--gray-600);
  text-align: center;
  font-family: Inter;
  font-size: 1.3vw; /* Using a CSS variable for responsive font size */
  font-style: normal;
  font-weight: 400;
}

.all-skill-icons {
  display: grid !important;
  grid-template-columns: repeat(8, 2fr);
  gap: 5vw;
}
